#wrap-upload{
    background-color: #ccc;
    width: 700px;
    height:220px;
    margin: 100px auto;
    border: 1px;
    border-style: dashed;
    border-color: rgb(63, 70, 129);
    border-radius: 5px;
}
#input{
    display: none;
}