#wrap-upload{
    background-color: #ccc;
    width: 700px;
    height:220px;
    margin: 100px auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
#input{
    display: none;
}