#wrap-header{
    margin: 15px 15px;
    display: flex;
    justify-content: space-between;
    height:54px;
}
#wrap-header a{
    text-decoration: none;
    color:#000;
}
#left-navigation a{
    margin-right: 30px;
    line-height: 100%;
}
#right-navigation a{
    margin-left: 30px;
    line-height: 54%;
}
#homepage__logo{
    height:54px;
}