body{
    background-color: #eaf2fabf;
    font-family: 'Poppins', sans-serif;
}

:root{
    --para: 
}

#wrap-header{
    margin: 15px 15px;
    display: flex;
    justify-content: space-between;
    height:54px;
    background-color: #fbfbfb;
    border-radius: 5px;
}
#wrap-header a{
    text-decoration: none;
    color:#000;
    display: block;
    float: left;
}
#left-navigation{
    padding-left: 15px;
}
#right-navigation{
    padding-right: 15px;
}
#left-navigation a{
    margin-right: 30px;
    line-height: 54px;
}
#right-navigation a{
    margin-left: 30px;
    line-height: 54px;
}
#homepage__logo{
    height:45px;
    margin-left:15px;
}
#header__menu{
    height:4px;
    position:relative;
    bottom: 4px;
    margin-right:15px;
}