@media screen and (max-width : 1000px) and (min-width : 800px){
    
    #wrap_content_group{
        grid-template-columns: auto auto ;
    }
    #regist img{
        width: 100%;
        height: auto;
        min-height: 630px;
        object-fit: cover;
    }
    #wrap_main_footer {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #explain_title {
        font-size: calc( 27px +3*(100vw - 800px)/(1500 - 800));
    }
}
@media screen and (max-width : 1000px) {
    #testing_right_navigation ul:nth-child(1){
        display: none;
    }
    #testing_right_navigation ul:nth-child(2){
        display: none;
    }
    #testing_right_navigation ul:nth-child(3){
        display: none;
    }
    #wrap_menu{
        display: flex;
        align-items: center;
    }   
}
@media screen and (max-width : 1500px) and (min-width : 800px){
    #question h2{
        font-size: calc( 18px + 6*( 100vw -800px)/( 1500 -800 ))
    }
}
@media screen and (max-width : 800px){
    #testing_explain {
        grid-template-columns: 100%;
    }
    #explain_title{
        background-color: #fff;
        color:#000;
    }
    #wrap_content_group {
        display: grid;
        grid-template-columns: 100%;
    }
    #wrap_main_footer {
        grid-template-columns: 100%;
    }
    #regist_location {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #regist img {
        min-height: 500px;
    }
    #regist_location button {
        margin-bottom: 10px;
    }
    #question h2{
        font-size: calc( 14px + 4*( 100vw -320px)/( 800 - 320 ));
    }
    #footer_collum1,
    #footer_collum2,
    #footer_collum3,
    #footer_collum4 {
        padding: 20px 20px 20px 20px;
    }
    #footer_collum1{
        margin-top: 40px;
    }
    #footer_collum2 h3,
    #footer_collum3 h3,
    #footer_collum4 h3
    {
        margin-bottom: 10px;
        color: #fff;
        font-weight: 300;
    }
    #question {
        padding-bottom: 70px;
        padding-top: 70px;
    }
    #regist_content h1{
        font-size: calc( 24px + 5*( 100vw -320px)/( 800 - 320 ));
        line-height: 38px;
        margin-bottom: 15px;
    }
    #title_group{
        font-size: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #testing_explain h2 {
        text-transform: none;
    }
    #testing_banner_content{
        margin-left: 15px;
        margin-right: 15px;
    }
    #testing_explain {
        padding-bottom: 100px;
    }
    #wrap_under_title_group {
        margin-top: 30px;
    }
}