@media screen and (min-width: 1000px) and (max-width:1250px){
    #slide1_title {
        width: 100%;
        font-size: 90px;
    }
    #slide2 {
        justify-content: space-between;
    }
    .wrap_card{
        width: 32%;
        height: 32vw;
    }
    #slide3_para {
        width: 35%;
        font-size: 15.5px;
        letter-spacing: 0.55px;
        color: #fff;
        position: absolute;
        bottom: 40px;
        left: 40px;
        line-height: 24px;
        color: rgb(216, 216, 216);
    }
}