*{
    padding:0;
    margin:0;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* begin header */
#header{
    height:65px;
    width: 100%;
    margin-top: 10px;
    z-index: 10;
}
#nav{
    display: flex;
    justify-content: space-between;
    height: inherit;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    z-index: 10;
}
#left_nav,
#right_nav{
    display: flex;
    line-height: 65px;
    margin-left: 15px;
    margin-right: 15px;
}
#header_logo{
    width:145px;
    height:auto;
}
#wrap_header_logo{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}
#header a{
    margin: 0 15px 0 15px;
    text-decoration: none;
    color:#000;
    font-size: 18px;
}
/** 
 * begin content
 */
#content{
    width:100%;
    height:auto;
    margin-top: -75px;
    background-color: #f1f1f1;
}
/* begin banner */
#banner{
    height:864px;
    width:100%;
    position: relative;
    background: radial-gradient(82.29% 82.29% at 50% 98.05%,#960014 0%,#AE0000 100%);
}
#banner_image{
    position: absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    width:100%;
    object-fit: cover;    
    height: calc(100vw*0.5625);
    max-height: 1450px;
    min-height: 768px;
}
#banner_content{
    width:446px;
    height:auto;
    color:#fff;
    text-align: center;
    font-size: 18px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    top: calc(100vh*0.3)
}
#banner_title{
    width:100%;
}
#banner_explain
{
    margin-top: 15px;
}
/* begin_slide1 */
#slide1{
    width: 100%;
    height:auto;
    text-align: center;
    margin-top: 65px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 135px;
}
#slide1_image{
    width:100%;
    z-index: 1;
}
#slide1_title {
    position: absolute;
    top: 0px;
    width: 50%;
    font-size: 99px;
    font-family: fantasy;
    letter-spacing: 2px;
    line-height: 90px;
}
#slide1_explain{
    font-size: 18px;
}
/* begin slide2 */
#slide2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 135px;
}
.wrap_card{
    width: 32.5%;
    height: 33vw;
    background-size: 185%;
    background-position: 78% 600%;
    background-color: rgba(0,0,0,0.1);
    font-family: fantasy;
    margin: 5px 5px;
    box-sizing: border-box;
    position: relative;
    border-radius: 5px;
    color:#000;
}
.wrap_card:nth-child(1){
    background-image: url('./Image/slide2_image1.webp');
}
.wrap_card:nth-child(2){
    background-image: url('./Image/slide2_image2.webp');
}
.wrap_card:nth-child(3){
    background-image: url('./Image/slide2_image3.webp');
}
.wrap_card:nth-child(4){
    background-image: url('./Image/slide2_image4.webp');
}
.card_title {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 32px;
}
.card_explain{
    display: flex;
    position: absolute;
    bottom: 10px;
    margin-left: 10px;
}
.content_explain{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}
.number{
    position: relative;
    width: min-content
}
.sub_number{
    position: absolute;
    left:100%;
    font-family: fantasy;
    font-size: 18px;
    font-weight: 900;
    top:0px;
}
/* begin slide3 */
#slide3{
    width: 100%;
    position: relative;
    border-radius: 0;
    margin-bottom: 135px;
    margin-left: 10px;
    margin-right: 10px;
}
#slide3_image{
    width: 100%;
    height:100%;
}
#slide3_title{
    position: absolute;
    top:40px;
    left:40px;
    font-family: fantasy;
    font-size: 80px;
    color:rgb(216, 216, 216);
    letter-spacing: 2.5px;
    line-height: 75px;
}
#slide3_para{
    width: 33%;
    font-size: 15.5px;
    letter-spacing: 0.55px;
    color:#fff;
    position: absolute;
    bottom: 40px;
    left: 40px;
    line-height: 28px;
    color: rgb(216, 216, 216)
}
/* begin slide4 */
#slide4{
    display: flex;
    text-align: center;
    margin-bottom: 135px;
}
#slide4_image{
    height:auto;
    width:50%;
}
#slide4_content{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#wrap_slide4_content{
    width: 75%;
    height: auto;
}
#slide4_title{
    font-family: fantasy;
    font-size: 78px;
    letter-spacing: 2.5px;
    line-height: 70px;
}
#slide4_para{
    font-size: 16px;
    letter-spacing: 0.55px;
    margin-top: 65px;
    line-height: 28px;
}
/* begin other models */
#other_models{
    text-align: center;
    padding-bottom: 135px;
}
#other_title{
    font-size: 26px;
    margin-bottom: 25px;
    letter-spacing: 5px;
}
#other_models h1{
    font-family: fantasy;
    font-size: 45px;
    letter-spacing: 3px;
}